<!DOCTYPE html>
<html>

<head>
    <title>Rehaanm03 Tools</title>
    <!-- <%- include('partials/nav.ejs') %> -->
        <link rel="stylesheet" href="assets/styles.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/main.css">
        <link rel="stylesheet1" type="text/css" href="/pages/somefile.ejs">
</head>

<body class="dashboardBody">


    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="lang-logo">
                <img src="assets/Cherry.ico">
            </a>
            <h1>GAMING NAME</h1>
            <!-- <p></p> -->
            <a type="button" class="btn btn-lg btn-default" href="/dashboard"><span
                    class="glyphicon glyphicon-flash"></span> Play Now!</a>
            <!-- <a type="button" class="btn btn-lg btn-primary" href="/dashboard"><span
                    class="glyphicon glyphicon-book"></span> Dashboard</a> -->
        </div>
    </div>
    <div class="container">
        <!-- <div class="alert alert-info text-center" role="alert">
      To getting started today! Read the following steps below, on how to get your key, and how to activate it.
    </div> -->
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-info-sign"></span> Gaming</h3>
                <ul>
                    <li>Free to play games</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-link"></span> Steps After Signing In</h3>
                <ul>
                    <li>After you sign in. you will automatically be put into the discord server</li>
                    <li>Now once signed in, you can play any games and it will keep your progress</li>
                </ul>
            </div>
        </div> <!-- row -->
        <!-- <div class="alert alert-info text-center" role="alert">
      Please read any guides and questions to see if your questions have been answered already before dming me about any
      issues. But, feel free to ask any questions.
    </div> -->
    </div>

</body>

</html>