<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="assets/styles.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet1" type="text/css" href="/pages/somefile.ejs">

  <style type="text/css">
    .c1-ui-state-hover {
      background-color: yellow !important;
      padding: 5px !important
    }
  </style>
</head>

<body class="dashboardBody">
  <%- include('partials/nav.ejs') %>
  <div class="profileContainer">

    <h1 class="profileText">Thanks, You will be contacted Soon!</h1>
    <p><strong>Tool:</strong> <%= info.tool %></p>
    <p><strong>Email:</strong> <%= info.email %></p>
  </div>
</body>

</html>